/* === GLOBAL STYLING === */
body {
    font-family: Roboto, Arial, sans-serif;
    background: #1f1f1f;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}


/* === SEARCH STYLES === */
.search-header {
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(32, 33, 36, 1);
    height: 48px;
    
}

/* Search page header */
#search-header {
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    height: 48px;
    
}

.search-header-container {
    width: 100%;
    max-width: 2000px; /* same width on all pages */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.search-header-left,
.search-header-right {
    display: flex;
    gap: 20px;
    
}

.search-header-link {
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.2s ease;
}

.search-header-link:hover {
    color: #4487f6;
    text-decoration: underline;
}

/* === SEARCH FORM STYLING === */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 760px;
    padding: 20px;
    margin-top: 120px; 
}

.search-form img {
    margin-bottom: 30px;
}


#input-search-text {
    width: 100%;
    max-width: 650px;
    padding: 18px 20px;
    font-size: 1rem;
    color: #e8eaed;
    background: #55576182;
    border: none;
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    transition: background 0.1s ease-in-out;
}

#input-search-text:hover {
    background: #555761af;
}

.search-buttons input[type="submit"] {
    background: #303134;
    color: white;
    border: 1px solid #303134;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.search-buttons input[type="submit"]:hover {
    border: 1px solid gray;
    color: white;
    opacity: 0.8;
}




#input-search-text:focus, #input-image-text:focus {
    background: #282a29;
}

#input-search-text::placeholder, #input-image-text::placeholder {
    color: #aaa;
}

/* Image FOOTER STYLING */
footer {
    width: 100%;
    background-color: #131212;
    color: white;
    padding: 15px 0;
    margin-top: auto;
    
    
}

.search-footer-container {
    
    width: 95%;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 30px;
}

.search-footer-left-links {
    list-style: none;      
    display: flex;         
    gap: 30px;              
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

.search-footer-right-links {
    list-style: none;      
    display: flex;         
    font-size: 14px;
    gap: 30px;              
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.search-footer-container a {
    text-decoration: none;
}

.search-left-link1,
.search-left-link2,
.search-left-link3,
.search-right-link1,
.search-right-link2,
.search-right-link3   {
    cursor: pointer;
    color: white;
    transition: color 0.2s;
}

.search-left-link1:hover,
.search-left-link2:hover, 
.search-left-link3:hover, 
.search-right-link1:hover,
.search-right-link2:hover,
.search-right-link3:hover   {
    color: #4487f6;
    text-decoration: underline;
}


@media (max-width: 760px) {
    .search-footer-container {
        flex-direction: column;
    }

    .search-footer-right-links {
        margin-left: 30px;
    }
}


















/* === IMAGE STYLES === */
.image-header {
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(32, 33, 36, 1);
    height: 48px;
    
}



.image-header-container {
    width: 100%;
    max-width: 2000px; /* same width on all pages */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.image-header-left,
.image-header-right {
    display: flex;
    gap: 20px;
    
}

.image-header-link {
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.2s ease;
}

.image-header-link:hover {
    color: #4487f6;
    text-decoration: underline;
}



#image-input-text {
    width: 100%;
    max-width: 600px;
    padding: 18px 20px;
    background-color: #505052;
    border: none;
    color: white;
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    transition: background 0.1s ease-in-out;
}

/* Subtext under logo */
.logo-subtext {
    box-sizing: border-box;
    position: relative;
    top: 40%;
    left: 80%;
    color: #4487f6;       
    font-size: 18px;
    font-weight: 100;
    padding: 0;
}

#image-header-text {
    margin-top: 130px;
    margin-bottom: -40px;
}

/* === SEARCH FORM STYLING === */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 760px;
    padding: 20px;
    margin-top: 120px; 
}


#image-input-text {
    width: 100%;
    max-width: 560px;
    padding: 18px 20px;
    font-size: 1rem;
    color: #e8eaed;
    background: #55576182;
    border: none;
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    transition: background 0.1s ease-in-out;
}



#image-input-text:hover {
    background:#555761af;
}

#image-input-text:focus {
    background: #282a29;
}

#image-input-text::placeholder {
    color: #aaa;
}


/* SEARCH BUTTONS STYLING */
.image-buttons {
    display: flex;
    gap: 25px;
}

.image-buttons input[type="submit"] {
    background: #303134;
    color: white;
    border: 1px solid #303134;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.image-buttons input[type="submit"]:hover {
    border: 1px solid gray;
    color: white;
    opacity: 0.8;
}

/* IMAGE FOOTER STYLING */
footer {
    width: 100%;
    background-color: #131212;
    color: white;
    padding: 15px 0;
    margin-top: auto;
    
    
}

.image-footer-container {
    overflow-x: hidden;
    width: 95%;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 30px;
}

.image-footer-left-links {
    list-style: none;      
    display: flex;         
    gap: 30px;              
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

.image-footer-right-links {
    list-style: none;      
    display: flex;         
    font-size: 14px;
    gap: 30px;              
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.image-footer-container a {
    text-decoration: none;
}

.image-left-link2 {
    margin-left: -10px;
    margin-right: -35px;
}

.image-left-link1, 
.image-left-link2, 
.image-left-link3 , 
.image-left-link4,
.image-right-link1,
.image-right-link2,
.image-right-link3  {
    cursor: pointer;
    color: white;
    transition: color 0.2s;
}

.image-left-link1:hover,
.image-left-link2:hover,
.image-left-link3:hover,
.image-left-link4:hover  {
    color: #4487f6;
    text-decoration: underline;
}


@media (max-width: 760px) {
    .image-footer-container {
        flex-direction: column;
    }

    .image-footer-right-links {
        margin-left: 30px;
    }
}





@media (max-height: 760px) {

    footer {
         margin-bottom: 12px;
    }
   
}


















